ALPACA_API_KEY=PKPHBD4QZYQDZBBHEGOARIKG47
ALPACA_SECRET_KEY=ukD9K9am6skunNR9dokKJBgG2TKSNhQg2954KJsfB8K
LINE_CHANNEL_TOKEN=5cb3760c048c2e214807c3e76078db91
LINE_USER_ID=2010069926
ALPACA_PAPER_TRADING=true
ENABLE_ORDER_EXECUTION=false
RUN_CONTINUOUSLY=false
SCAN_INTERVAL_SECONDS=900
MAX_TEST_ORDER_NOTIONAL=100.0
