ALPACA_API_KEY=your_alpaca_api_key
ALPACA_SECRET_KEY=your_alpaca_secret_key
LINE_CHANNEL_TOKEN=your_line_channel_access_token
LINE_USER_ID=your_line_user_id
ALPACA_PAPER_TRADING=true
ENABLE_ORDER_EXECUTION=true
RUN_CONTINUOUSLY=false
SCAN_INTERVAL_SECONDS=900
MAX_TEST_ORDER_NOTIONAL=100.0
